certifi==2018.1.18
chardet==3.0.4
Django==1.11.23
django-extensions==2.0.6
django-kronos==1.0
django-tools==0.38.7
idna==2.6
python-crontab==2.2.8
python-dateutil==2.7.0
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
cx-Oracle < 7.0.0
